body {
  /* background-image: url("/medios/fondopantallarpg.jpg"); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  cursor: url("/medios/cat-happy-cursor.png"), auto;
}

main {
  flex: 1;
}

.footer {
  background-color: purple; /* Color personalizado para el footer */
}

.product-image {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 500px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Mantiene las proporciones de la imagen */
}